{% extends 'base.html.twig' %}

{% block title %}{{ 'Teilnehmer manuell anlegen'|trans }}{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>{{ icon('user-plus') }} {{ 'Teilnehmer & Account anlegen'|trans }}</h1>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form method="post" action="{{ path('admin_participants_create') }}">
                        
                        <h4 class="text-primary">{{ icon('user') }} {{ 'Account-Daten'|trans }}</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ 'Vorname'|trans }} *</label>
                                    <input type="text" name="firstname" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ 'Nachname'|trans }} *</label>
                                    <input type="text" name="lastname" class="form-control" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>{{ 'Benutzername / Login'|trans }} (Optional)</label>
                            <input type="text" name="act" class="form-control" placeholder="z.B. max.mustermann">
                            <small class="text-muted">
                                {{ icon('info-sign') }} Wenn keine E-Mail oder Benutzername angegeben wird, kann der User sich später nicht selbst einloggen.
                            </small>
                        </div>

                        <hr>
                        <h4 class="text-primary">{{ icon('list-alt') }} {{ 'Teilnehmer-Details'|trans }}</h4>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ 'Geburtsdatum'|trans }} *</label>
                                    <input type="date" name="dob" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ 'Geschlecht'|trans }} *</label>
                                    <select name="gender" class="form-control">
                                        <option value="MALE">{{ 'Männlich'|trans }}</option>
                                        <option value="FEMALE">{{ 'Weiblich'|trans }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <h4 class="text-primary">{{ icon('folder-open') }} {{ 'Zuordnungen'|trans }}</h4>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ 'Klasse / Gruppe'|trans }}</label>
                                    <select name="group" id="group_select" class="form-control" onchange="toggleNewInput('group_select', 'new_group_wrapper', 'new_group_name')">
                                        <option value="">-- Keine Gruppe zuordnen --</option>
                                        {% for group in availableGroups %}
                                            <option value="{{ group.id }}">{{ group.name }}</option>
                                        {% endfor %}
                                        <option value="new" class="text-success font-weight-bold">+++ Neue Gruppe anlegen +++</option>
                                    </select>
                                    <div id="new_group_wrapper" style="display: none; margin-top: 10px;">
                                        <input type="text" name="new_group_name" id="new_group_name" class="form-control" placeholder="Name der neuen Gruppe">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-right mt-4" style="margin-top: 20px;">
                            <a href="{{ path('admin_participants_index') }}" class="btn btn-default">{{ 'Abbrechen'|trans }}</a>
                            <button type="submit" class="btn btn-success">{{ icon('floppy-disk') }} {{ 'Anlegen'|trans }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script>
            function toggleNewInput(selectId, wrapperId, inputId) {
                var select = document.getElementById(selectId);
                var wrapper = document.getElementById(wrapperId);
                var input = document.getElementById(inputId);
                
                if (select.value === 'new') {
                    wrapper.style.display = 'block';
                    input.required = true;
                } else {
                    wrapper.style.display = 'none';
                    input.required = false;
                    input.value = '';
                }
            }
        </script>
    </div>
{% endblock %}